<%@ Master Language="C#" %>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta charset="utf-8" />    
    <title>Khushiyaan <asp:ContentPlaceHolder id="head" runat="server" /></title>
</head>
<body>
    <div id="page" runat="server">
        <div id="Top">

        </div>
        <div id="Content">
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server" />
        </div>
    </div>
</body>
</html>
