img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    padding: 4px;
    margin: auto;
}

figcaption {
    color: black;
    font-weight: 900;
    padding: 4px;
    font-size: 45px;
    text-align: center;
    font-family: Courier New, Courier, monospace;
}




