body {
    background-color:inherit;
}

.containcont{
    
    display:flex;
    align-content:center;
    flex-direction:column;
}
.abttitle {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: deepskyblue;
    padding: 1rem;
}

.abtcontent {
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction: row;
    background-color: pink;
    padding: 1rem;
}

.bigcontaincont {
    display: flex;
    align-content: center;
    flex-direction: row;
}