
body {
    background-color: floralwhite;
}

.containcont {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: floralwhite;
}
.abttitle {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: deepskyblue;
    padding: 1rem;
    font-family: 'Baskerville Old Face';
    font-size:25px;
}

.abtcontent {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background-color: floralwhite;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    padding: 1rem;
}

.bigcontaincont {
    display: flex;
    align-content: center;
    flex-direction: row;
}

#Content {
    background-color: floralwhite;
}
