img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    padding: 4px;
    margin: auto;
}

figcaption {
    color: black;
    font-weight: 900;
    padding: 4px;
    font-size: 75px;
    text-align: center;
    font-family: Courier New, Courier, monospace;
}

/*fieldset {
    display: flex;
    background-color: rgb(243,243,243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray
}*/

.info {
    width: 350px;
    padding: 20px;
    border: 5px solid gray;
    margin: 0;
}

.container{
    justify-content:center;
    align-items:center;
}