body {
}

/*slider css start*/

#slider {
    width: 900px;
    height: auto;
    margin: 10%;
    margin-left: 15%;
    overflow: hidden;
}

.slides {
    display: block;
    width: 6000px;
    height: auto;
    margin-left: 0;
    padding: 0;
}

.slide {
    float: left;
    list-style-type: none;
    width: 900px;
    height: auto;
}

img {
    width: 900px;
    height: auto;
} 

/*slider css over*/

.containcont {
    display: flex;
    align-content: center;
    flex-direction: row;
    background-color: white;
    padding: 2rem;
}

#ContentPlaceHolder1_Image1{
    height:300px;
    width:200px;
}


.title {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: deepskyblue;
    padding: 1rem 3rem 1rem 3rem;
    padding: 1rem 3rem 1rem 3rem;
    font-family: 'Baskerville Old Face';
    font-size: 20px;
    margin: 0rem 1rem;
    border-radius:5px;
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: floralwhite;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    padding: 1rem 3rem 1rem 3rem;
}

.containtxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
}

.bigcontaincont {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
}

#Content {
    background-color: floralwhite;
}


#ContentPlaceHolder1_redirectme1 {
    display:flex;
    flex-direction:column;    
    justify-content:center;
    width: 150px;
    color: black;
    border: double;
    border-color: darkturquoise;
    text-decoration: none;
}


#ContentPlaceHolder1_redirectme1:hover {
    background-color: turquoise;
    color: white;
}

#ContentPlaceHolder1_redirectme2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    color: black;
    border: double;
    border-color: darkturquoise;
    text-decoration: none;
}


    #ContentPlaceHolder1_redirectme2:hover {
        background-color: turquoise;
        color: white;
    }



.redme {
    display: flex;
    justify-content:center;
    align-content: center;
    flex-direction: column;
    padding: 0rem 3rem;
    margin: 0rem 1rem;
}