body {
    background-color:white;
    margin:0;
    padding:0;
}

/* Whole page */
#page {
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow-y: scroll;
    background-color: #8fa9ff;
}

#form1{
    margin:0;
    padding:0;
    justify-content:center;
    display:inherit;

}
form{
    margin:0;
    padding:0;
}
#ContentPlaceHolder1 {
    background-color: white;
}

#titley {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    background-color: rosybrown;
}
#toptitleview {
    display: flex;
    background-color:blueviolet;
    font-family:Algerian;
}
#toptitleview1{
    display: flex;
    background-color: blueviolet;
    font-family: Algerian;
}
#Image1 {
    display: flex;
    background-color: blueviolet;
}

#adminfoot {
    background-color: violet;
}


#admMenuBar {
    display: flex;
    flex-direction: row;
    background-color: #c405ff;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

#admNavBar {
    align-items: center;
    justify-content: center;
}

    #admNavBar ul li {
        padding: 0px 10px 0px 10px;
    }

    #admNavBar ul :hover {
        background-color: #40ff05;
        border-radius: 5%;
        color: #c405ff;
    }

    #admNavBar ul li a {
        padding: 10px 10px 10px 10px;
        color: #ffc405;
    }