body {
    background-color:white;
    margin:0;
    padding:0;
}

/* Whole page 
#page {
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow-y: scroll;
    background-color: #8fa9ff;
}*/

#form1{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    height:100vh;
    width:100vw;
}
#ContentPlaceHolder1 {
    background-color: white;
}

#titley {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*justify-items: center;*/
    background-color: #EFBB62;
}
#toptitleview {
    display: flex;
    flex-direction: row;
    background-color:inherit;
    font-family: Algerian;
    font-size: 35px;
}

#toptitleview1{
    display: flex;
    background-color: blueviolet;
    font-family: Algerian;
}

#Image1 {
    display:flex;
    flex-direction:row;
    border-radius: 5%;
    margin: 10px;
    width: 230px;
    height: 100px;
}

#adminfoot {
    background-color: #EFBB62;
    display: flex;
    justify-content: center;
}


#admMenuBar {
    display: flex;
    flex-direction: row;
    background-color: #2558C8;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

#admNavBar {
    align-items: center;
    justify-content: center;
}

    #admNavBar ul li {
        padding: 0px 10px 0px 10px;
    }

    #admNavBar ul :hover {
        background-color: #f144d4;
        border-radius: 5%;
        color: #44F161;
    }

    #admNavBar ul li a {
        padding: 10px 10px 10px 10px;
        color: #EFBB62;
    }


#logoutbutton {
    display: flex;
    flex-direction: row;
    background-color: red;
    color: black;
    width: 3rem;
    height: 3rem;
    font-size: 30px;
    justify-content:center;
    align-items:center;
}


#redirectme2home {
    background-color: #f144d4;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    color: #0540FF;
}


    #redirectme2home:hover {
        background-color: turquoise;
        color: white;
    }

    #logoutbutton {
        display:flex;
        border-radius:10px;
        color: black;
        align-items:center;
        justify-content:center;
        height: 40px;
        width: 40px;
    }

#warning {
    float: left;
    height: 10vw;
    width: 10vw;
}

.fbox {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.forbid {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}